<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/signup.png" alt="">
                </div>

                <h1 class="text-center">Register Here !!</h1>

                <!-- {{user | json}} -->

                <form #signUpform="ngForm" (ngSubmit)="formSubmit()">
                    <!-- username field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input required
                         [(ngModel)]="user.username" 
                        name="username"
                        matInput placeholder="Enter here">
                        <mat-hint>Username must be unique!!</mat-hint>
                      </mat-form-field>

                   <!-- password field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input required 
                        [(ngModel)]="user.password" 
                        name="password" 
                        type = "password" matInput placeholder="user password">
                      </mat-form-field>

                    <!-- firstname field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input required 
                        [(ngModel)]="user.firstName" 
                        name="firstName"
                        matInput placeholder="user's first name">
                    </mat-form-field>
                    
                    <!-- lastname field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input required 
                        [(ngModel)]="user.lastName" 
                        name="lastName"
                        matInput placeholder="user's last name">
                    </mat-form-field> 

                    <!-- Email field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input required 
                        [(ngModel)]="user.email" 
                        name="email" 
                        type="email" matInput placeholder="User's email">
                    </mat-form-field>

                    <!-- phone field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input required 
                        [(ngModel)]="user.phone" 
                        name="phone" 
                        type="number" matInput placeholder="user's phone number">
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary" [disabled]="!signUpform.valid">Register</button>
                        <button style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
                    </div>
                 </form>
            </div>
        </div>
    </div>
</div>
